<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>Address Book</title>

</head>
<body>
    <h1>Address Book</h1>
    <form action="/add" method="post">
        <label for="name" class="text">  이름     :</label>
        <input type="text" id="name" name="name" required>
        <br><br>
        <label for="phone">전화번호:</label>
        <input type="text" id="phone" name="phone" required>
        <br><br>
        <button type="submit">저장</button>
    </form>
</body>
</html>